@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	@apply bg-[#010101] font-sans;
}

a {
	color: inherit;
	text-decoration: none;
}

article a {
	@apply !text-brand-500 !no-underline;
}

.contains-task-list {
	@apply mt-6 first:mt-0 ltr:ml-1 rtl:mr-1;
}

.contains-task-list .task-list-item {
	@apply my-2;
}

.contains-task-list input[type=checkbox] {
	@apply !mr-2;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
