@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
/* 	:root { */
/* 		--brand: 104 221 253; */
/* 		--brand-hover: 46 189 229; */
/* 		--brand-states: 121 207 234; */
/* 	} */
/* } */

body {
	@apply bg-[#010101] font-sans;
}

a {
	color: inherit;
	text-decoration: none;
}

article main p > a,
article main ul > li > a {
	@apply !text-brand-500 !no-underline;
}

.contains-task-list {
	@apply mt-6 first:mt-0 ltr:ml-1 rtl:mr-1;
}

.contains-task-list .task-list-item {
	@apply my-2;
}

.contains-task-list input[type='checkbox'] {
	@apply !mr-2;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
