@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 252 252 252;
	--primary-subtle: 248 248 248;
	--primary-foreground: 22 22 22;
	--primary-foreground-subtle: 28 28 28;
	--ui: 243 243 243;
	--ui-hover: 237 237 237;
	--ui-states: 232 232 232;

	--subtle: 226 226 226;

	--brand: 44 182 125;
	--brand-hover: 70 210 152;
	--brand-states: 119 222 179;

	--danger: 229 72 77;
	--danger-hover: 235 144 145;
	--danger-states: 243 174 175;

	--ui-border-radius: 0.5rem;

	--font-sans: 'Inter, sans-serif';
	--font-serif: 'Merriweather, serif';
	--font-mono: 'ui-monospace';

	--ui-p: 1rem;
	--ui-btn-p: 0.5rem 1rem;
	--ui-icon-btn-p: 0.75rem;
}

.dark {
	--primary: 22 22 22;
	--primary-subtle: 28 28 28;
	--primary-foreground: 252 252 252;
	--primary-foreground-subtle: 248 248 248;
	--ui: 35 35 35;
	--ui-hover: 40 40 40;
	--ui-states: 46 46 46;

	--subtle: 52 52 52;
}
