@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* color palette */
	--primary: 0 0% 99%;
	--primary-subtle: 0 0% 97.5%;

	--ui: 0 0% 94.6%;
	--ui-hover: 0 0% 92%;
	--ui-states: 0 0% 89.5%;

	--subtle: 0 0% 86.8%;
	--subtle-int: 0 0% 83%;
	--subtle-int-states: 0 0% 73.2%;

	--brand: 155 61% 44%;
	--brand-states: 156 63.1% 39.7%;

	--foreground: 0 0% 12.5%;
	--foreground-subtle: 0 0% 39.3%;
	--foreground-btn: 0 0% 100%;

	/* semantic colors */
	--danger: 358 75% 59%;
	--danger-states: 358 67.4% 54.6%;

	--success: 151 55% 41.5%;
	--success-states: 152 57.5% 37.6%;

	/* border radius and shadows  */
	--ui-border-radius: 0.5rem;

	/* font families */
	--font-sans: 'Inter, sans-serif';
	--font-serif: 'Merriweather, serif';
	--font-mono: 'monospace';

	/* spacing - paddings and margins */
	--ui-p: 1rem;
	--ui-p-btn: 0.5rem 1rem;
	--ui-p-select: 1rem 0.5rem;
	--ui-p-icon-btn: 0.75rem;
}

.dark {
	/* color palette */
	--primary: 0 0% 9.5%;
	--primary-subtle: 0 0% 10.5%;

	--ui: 0 0% 15.8%;
	--ui-hover: 0 0% 18.9%;
	--ui-states: 0 0% 21.7%;

	--subtle: 0 0% 24.7%;
	--subtle-int: 0 0% 29.1%;
	--subtle-int-states: 0 0% 37.5%;

	/* brand colors will apply for both modes */

	--foreground: 0 0% 93.5%;
	--foreground-subtle: 0 0% 69.5%;

	/* semantic colors */
	--danger: 358 75% 59%;
	--danger-states: 359 84.8% 67.6%;

	--success: 151 55% 41.5%;
	--success-states: 151 55.2% 46.7%;
}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
